@import 'src/scss/mixins.scss';

.login-container {
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    min-height: 100vh;

    &__content {
        @include flex(0 0 400px);
        max-width: 400px;
    }
}

.divider {
    @include position(relative, $left: 0);
    padding: 15px 0;
    text-align: center;
    z-index: 3;
    span {
        background-color: var(--white-color);
        display: inline-block;
        padding: 5px;
    }

    &:before {
        @include position(absolute, $left: 0, $top: 50%);
        @include width-height(100%, 1px);
        background-color: var(--border-color);
        content: '';
        transform: translateY(-50%);
        z-index: -1;
    }
}