body {
    background-color: var(--bg-color);
    color: var(--text-on-primary);
    font-family: var(--font-family);
    font-size: var(--body-font-size);
    line-height: 24px;
}

.container {
    margin: 0 auto;
    max-width: 1366px;
    padding: 0 15px;
    width: 100%;
}

.linked{
    color: var(--text-on-primary);
    font-size: calc(var(--body-font-size) - 2px);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    &:hover{
        text-decoration: underline
    }
}