@import 'src/scss/mixins.scss';

.aside{
    @include position(fixed, $left: 0, $top:0);
    background-color: var(--primary-color);
    width: 70px;
    min-height: 100vh;
}

.logo{
    @include width-height(70px, 60px);
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    border-bottom: 1px solid var(--white-color);
    color: var(--white-color);
    font-size: calc(var(--body-font-size) + 24px);
    text-decoration: none;
}