@import 'src/scss/mixins.scss';

.aside{
    @include position(fixed, $left: 0, $top:0);
    @include display-flex(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    background-color: var(--primary-color);
    width: 70px;
    min-height: 100vh;
}

.logo, .nav-links{
    @include width-height(70px, 60px);
    @include display-flex(flex);
    @include align-items(center);
    @include justify-content(center);
    color: var(--white-color);
    text-decoration: none;
}

.logo{
    border-bottom: 1px solid var(--white-color);
    font-size: calc(var(--body-font-size) + 24px);
}

.nav-links{
    cursor: pointer;
    font-size: calc(var(--body-font-size) + 14px);
}